<h2>Comment edit page</h2>
<%#= render 'form', comment: @comment %>
<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <div class="post-item-form">
      <%= simple_form_for ([ @post, @comment ]) do |f| %>
        <%= f.input :content %>
        <%= f.submit  "Add Comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>