<div class="row mt-5">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <div class="post-item-form">
      <%= link_to posts_path, class: "post-info-comment-count" do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
      <div class="form-title">
        <h3>Make a Comment</h3>
      </div>
      <%= simple_form_for [ @post, @comment ] do |f| %>
        <%= f.input :content, label: false %>
        <div class="post-item-bottom">
          <%= f.submit  "Add Comment", class: "btn btn-flat" %>
        </div>
      <% end %>
    </div>
  </div>
</div>