<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <div class="post-item">
      <%= simple_form_for(@post) do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.submit "Add Post", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>