<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <div class="post-item-form">
      <h3>Add a post</h3>
      <%= simple_form_for(@post) do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.submit "Confirm", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>