<div class="container">
  <%= render 'form', post: @post %>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="post-item">
          <h3><%= link_to post.title, post_path(post) %></h3>
          <small>posted by:<%= post.user.email %></small>
          <p><%= post.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>