.category-link {
  color: #111111;
  opacity: 1;
}

.category-link:hover {
  text-decoration: none;
  color: #111111;
  opacity: 0.8;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.nav-pills .nav-link {
  border-radius: 4px;
  color: #111111;
  transition: background 0.3s ease;
}
.nav-pills .nav-link:hover {
  background: #68c2e8;

}
.nav-pills .nav-link.active {
  color: white;
  background: #68c2e8;
}
