.post-info-email{
  font-size: 12px;
    opacity: 0.5;
}

.post-info-title {
  text-decoration: none;
    font-size: larger;
    color: #222222;
}


.post-info-title:hover {
  text-decoration: none;
  color: #4a4a4a;
}
