.post-info-email{
  font-size: 12px;
    opacity: 0.5;
}

.post-info-title {
  text-decoration: none;
    font-size: larger;
    color: #222222;
}


.post-info-title:hover {
  text-decoration: none;
  color: #4a4a4a;
}

.post-info-comment-count {
  text-decoration: none;
    color: #4A4A4A;
    opacity: 0.7;
}

.post-info-comment-count:hover {
  opacity: 0.9;
  color: #4A4A4A;
  text-decoration: none;
}
