.post-info-email{
  font-size: 12px;
    opacity: 0.5;
}

.post-info-title {
  text-decoration: none;
    font-size: larger;
    color: #222222;
}


.post-info-title:hover {
  text-decoration: none;
  color: #4a4a4a;
}

.post-info-comment-count {
  text-decoration: none;
    color: #4A4A4A;
    opacity: 0.7;
}

.post-info-comment-count:hover {
  opacity: 0.9;
  color: #4A4A4A;
  text-decoration: none;
}

.post-item-content {
  padding: 8px;
  // box-shadow: 0 2px 2px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 24px;
  margin-bottom: 16px;
  min-height: 100px;
  border-radius: 2px;
}
.post-item-content-show {
  padding: 8px;
  // box-shadow: 0 2px 2px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 24px;
  margin-bottom: 16px;
  min-height: 160px;
  border-radius: 2px;
}
.post-item-bottom {
  display: flex;
  justify-content: flex-end
}
.post-item-bottom-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-info-comment-count-bottom {
  text-decoration: none;
  color: #4A4A4A;
  opacity: 0.7;
}

.post-info-comment-count-bottom:hover {
  opacity: 0.9;
  color: #4A4A4A;
  text-decoration: none;
}
