.side-bar-category {
    padding: 16px;
    margin: 8px;
    background: white;
  ul {
    padding: 0px;
  }

  li {
    list-style: none;
  }
}

.make-thread {
  background: white;
    margin: 8px;
    padding: 16px;
    border-radius: 4px;
}
